[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "telemac"]
	path = telemac
	url = https://github.com/tpilz/telemac
	shallow = true
	registered = true
